<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login_style.css">
</head>

<body>
    <div class="container">
        <div class="signin-form">
            <h2>Check user</h2>

            <form action="/login" method="post">
                <div class="input-group">
                   
                    <input type="text" id="username" name="username" placeholder="Enter username" required>
                </div>

                <button type="submit">Check</button>
                <div>
                    <p>Don't have an account?</p>
                    <a href="/register" class="reg">Register</a>
                </div>
            </form>
        </div>

    </div>

</body>

</html>