<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cloudant</title>
  <link rel="stylesheet" href="/stylesheets/register_style.css">
</head>
<body>
  <div class="container">
    <div class="signin-form">
        <h2>Register</h2>
        <form action="/register" method="post">
            <div class="input-group">
              
                <input type="text" id="username" placeholder="Enter name here" name="username" required>
            </div>
            <div class="input-group">
                
                <input type="email" id="email" placeholder="Enter email here" name="email" required>
            </div>
            <button type="submit">Register</button>
            <div>
                <p>Have an account?</p>
                <a href="/login" class="reg">Sign in</a>
            </div>
        </form>
    </div>

    <div class="output">
        <p id="result"></p>
    </div>
</div>

</body>
</html>